.topic-detail {
    background-color: white;
    padding: 32px;
    .name {
    }
    .submit {
        margin: auto;
    }
    .archives {
        display: flex;
        margin-right: 200px;

        .img-box {
            position: relative;
            margin-right: 20px;
            img {
                max-width: 102px;
                max-height: 102px;
                margin: auto;
                display: block;
            }
            .del {
                position: absolute;
                right: -10px;
                top: -10px;
                font-size: 20px;
            }
        }
    }
}
